@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins",'Open Sans', sans-serif;
  background: #d0dcde;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  overflow: hidden;
  background: #262426;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.al {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.logo {
  color: #2dc7ff;
  font-weight: bold;
}

#ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a1 {
  display: block;
  padding: 0 1rem;
  color: white;
}

.social-header, .hero-design, .contact-design {
  display: none;
}

.hero {
  background: -webkit-gradient(linear, left bottom, right top, from(#4c4cfe), to(#25cce6));
  background: linear-gradient(to right top, #4c4cfe, #25cce6);
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4rem;
  overflow: hidden;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 200px;
  font-weight: bold;
  color: whitesmoke;
}

span {
  margin-top: 1rem;
  margin-right: .5rem;
}

.scroll {
  width: 30;
  margin-top: 2rem;
}

#about-header {
  text-align: center;
  margin-top: 5%;
  place-content: center;
}

.about-me {
  height: 550px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 70%;
  min-width: 1000px;
}

#hiya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

.about-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 450px;
  text-align: center;
}

.about-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 300px;
  width: 300px;
  z-index: -1;
  top: 40%;
}

.featured {
  position: relative;
  background: lightcoral;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: indigo;
  letter-spacing: .2rem;
  font-size: .85rem;
  text-align: center;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-top: -.4rem;
  display: block;
  text-align: center;
}

.featured-desc {
  color: #2d2d2d;
  margin-bottom: 3rem;
  font-size: .9rem;
  line-height: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.skills {
  background: none;
}

.skill-head {
  text-align: center;
}

.skills-container ul li {
  background: white;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.skills-container ul li .icon-container {
  height: 75px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
  width: 70px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2rem;
}

.portfolio {
  background: #25cce6;
}

.port-head {
  text-align: center;
}

.portfolio-container a img {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4c4cfe;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4343a7;
}

.contact-me {
  position: absolute;
  left: auto;
  border-radius: 5px;
  background-color: lightcoral;
  padding: 20px;
}

footer {
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40rem 0 40rem;
}

footer .foot {
  margin-top: 36%;
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 500px) {
  .about-pic {
    position: absolute;
    float: left;
    left: 3rem;
  }
  .about-desc {
    position: relative;
    float: right;
    left: 18rem;
  }
  .featured, .portfolio {
    text-align: center;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .skills {
    margin-top: -5rem;
    margin-bottom: 0rem;
    padding-top: 7rem;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
  }
  .portfolio {
    padding: top 7rem;
  }
  .portfolio-container {
    margin-left: 2rem;
  }
  .p-img {
    float: right;
  }
  .lang {
    background-color: aliceblue;
    padding: 6px;
    border-radius: .5rem;
    margin-bottom: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (min-width: 900px) {
  .hero {
    height: 90vh;
    width: 85%;
    margin-bottom: 2vh;
  }
  .hero .content {
    height: 95%;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    height: 6.5%;
  }
  .nav-container header {
    background: #262426;
  }
  header {
    padding: 1rem 2rem 2rem 4rem;
  }
  .social-header {
    padding: 1rem 5rem 2rem 0;
  }
  section {
    padding: 4rem;
  }
  .social-header {
    display: block;
    background: #353335;
    height: 14px;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20rem;
    float: right;
  }
  .about-me {
    height: 400px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    width: 70%;
    min-width: 1000px;
    margin: auto;
  }
  #hiya {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    bottom: 30px;
    margin: 0 -7rem 5rem 2rem;
  }
  .about-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 450px;
    bottom: 30%;
    text-align: center;
  }
  .about-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 300px;
    width: 450px;
    z-index: -1;
    top: 30%;
    left: 10rem;
  }
  .featured {
    position: relative;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 85% auto;
        grid-template-columns: 85% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: -webkit-gradient(linear, left bottom, right top, from(#4c4cfe), to(#25cce6));
    background: linear-gradient(to right top, #4c4cfe, #25cce6);
    padding: 6rem 8rem 6rem 4rem;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3rem;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -100%;
    margin-top: 15%;
    width: 200%;
  }
  .contact-design {
    display: unset;
    margin-left: 61.5%;
  }
  .p-img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 1rem 1rem 1rem 5rem;
  }
  .social-header {
    padding: 15px 6rem 2rem 0;
  }
  section {
    padding: 10rem 10rem 4rem 10rem;
  }
  .hero-content {
    padding: 6rem 8rem 6rem 10rem;
  }
}

#foot {
  height: 30px;
  width: 30px;
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}
/*# sourceMappingURL=App.css.map */